.contato {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 100px;
  background: #000;
  color: white;
  align-items: center;
  position: relative;
}

.contato::before {
  content: '';
  background: url(../img/detalhe.svg) no-repeat center;
  width: 130px;
  height: 100px;
  position: absolute;
  top: -45px;
  left: 120px;
}

.contato-texto {
font-size: 1.2rem;
margin: 110px 0px 80px 100px;
line-height: 1.5;
}

.contato-contato {
  font-size: 2.25rem;
  display: block;
  margin-left: 100px;
  line-height: 1.7;
  font-weight: bold;
}

.rodape {
  background: #000;
  color: white;
  padding: 60px 0px 45px 122px;
}
.rodape p {
  color: rgb(131, 131, 131);
}

@media (max-width: 800px){
  .contato {
    display: block;
    grid-template-columns: 1fr;
  }
}
